<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <script src="../static/resource/jquery-3.5.1.min.js"></script>
    <style type="text/css">
        *{margin: 0; padding: 0;}
        #background{
            width: 1920px;
            height: 1080px;
            background-size: cover;
            background-image: url(../static/images/trolleyBack.png);
        }
        #background .head{
            width: 100%;
            height: 250px;
        }

        #background .display{
            width: 800px;
            height: 650px;
            background-color: white;
            position: absolute;
            left: 600px;
            top: 200px;
            border: rgb(95, 228, 228);
            border-style: double;
            display: none;
        }

        .display .title{
            width: 100%;
            height: 10%;
            text-align: center;
            color:rgb(95, 228, 228) ;
            font-size: 40px;
        }

        .display .table{
            height: 450px;
            width: 100%;
            font-size: 20px;
            color: rgb(95, 228, 228);
            overflow-y: scroll;
        }

        .display .button{
            border-radius: 5px;
            font-size: 20px;
            color:rgb(95, 228, 228);
            font-style:normal;
            background-color: transparent;
            text-align: center;
        }




        #background .head .user {
            float: right;
            font-size: 26px;
            border-style:dotted;
            color:rgb(95, 228, 228);
            border-radius: 5px;
            background-color:transparent;
            margin-right:40px ;
            padding: 5px;
            
        } 
        #background .head .name{
            font-size: 26px;
            border:hidden;
            color:rgb(95, 228, 228);
            border-radius: 5px;
            background-color:transparent;
            padding: 5px;
            margin-top: 160px;
        }
        /* 以上为抬头部分 */
/*         
        #background .background_0{
            width:100%;
            height:100px;
        } */
        #background .background_1{
            width:100%;
            height:100px;
            font-size:75px;
            font-family:'Microsoft Yahei' ;
            color: rgb(49, 224, 224);
            text-align: center;
            /* line-height: 220px;  */
            padding: 0;
            margin: 0;
        }
        #background .background_2{
            width:100%;
            height:16px;
            font-size:20px;
            font-family:'Microsoft Yahei' ;
            color: rgb(49, 224, 224);
            text-align: center;
        }
        #background .background_3{
            width:100%;
            height:25px;
            font-size:20px;
            font-family:'Microsoft Yahei' ;
            color:red;
            line-height: 25px;
            right:0px;
        }
        #background .table{
            width:75%;
            height:500px;
            margin:auto;
            top:700px;
            left:15%;
            right:15%;
            bottom:300px;
            text-align: center;
            background-color:transparent;
            /* border-style:dotted; */
        }
        .table .item{
            font-size: 18px;
            font-style:normal;
            color:rgb(50, 70, 70);
            text-align: left;
            line-height: 25px;

        }
        .item .input{
            border:hidden;
            background-color:transparent;
            font-size: 17px;
        }

        #background .bottom{
            margin-bottom: 5%;
            white-space: nowrap;
        }
        .bottom .help{
            width: 100%;
            height:65px;
            background-color: transparent;
        }
        .bottom .button{
            border-radius: 5px;
            font-size: 20px;
            color:rgb(95, 228, 228);
            font-style:normal;
            border-style: dotted;
            background-color: transparent;
        }
        .bottom .middle{
            width: 40%;
            float:left;
            border:hidden;
            font-size: 24px;
            color:rgb(95, 228, 228);
            font-style:normal;
            background-color: transparent;
            text-align: center;
        }
 
    </style>
</head>
<body>
<div id="background">
    <div class="head">
        <input class="user" id="index" type="button" value="退出登录" onclick=returnPage(this.id)> 
        <input class="user" id="information" type="button" value="个人信息" onclick=returnPage(this.id)> 
        <input class="user" id="launch" type="button" value="已发布商品信息" onclick=returnPage(this.id)> 
        <input class="user" id="issue" type="button" value="发布商品" onclick=returnPage(this.id)> 
        <input class="user" id='order' type="button" value="我的订单" onclick=returnPage(this.id)>
        <input class="user" id="trolley" type="button"  value="购物车" onclick=returnPage(this.id)>  
        <input class="user" id="main" type="button" value="首页" onclick=returnPage(this.id)> 
        
        <!-- 注意头像均为200x200px -->
        <img src="{{headphoto}}" id="headphoto" width = 150x height = 150px align = "left" style="margin-left:150px; margin-top:50px;border-style:dotted;" />
        <input class = "name" type="button" value="昵称：" size="1" readonly>
        <input class = "name" type="button" id="user_name" value="{{user_name}} " readonly> 
        <input class = "name" type="button" id="userID" value="{{userID}}" readonly hidden>
    </div>
    <!-- 以上为抬头部分 -->
    <!-- <div class ="background_0">
        无用空白，用于固定格式
    </div> -->
    <div class = "background_1">
        <span style="margin-left: 100px;">购物车</span>
        <input type="button" id="settleButton"  value="删除" style="color: rgb(49, 224, 224);
        font-size: 20px; position: relative; border-color: white; left: 550px; top: 0px;" onclick=deleteShopping()>
        <input type="button" id="settleButton"  value="结算" style="color: rgb(49, 224, 224);
        font-size: 20px; position: relative; border-color: white; left: 600px; top: 0px;" onclick=initSettlement()>
        <img src="../static/images/money2.png" align = "right" />
    </div>
    <div class = "background_2">
        共
        <input id="goods_number" type="text" size ="1" style="color: rgb(49, 224, 224); text-align: center; font-size: 20px; background-color:transparent;border:0px" readonly>
        件商品
    </div>
    <div class = "background_3" align = "right">
        余额(RMB):
        <input type="text" id="balance" value="{{balance}}" size ="20" style="background-color:transparent;border:0px" readonly>
    </div>
    <table class = "table" >
        <tr >
            <td id="good0" style="border-style: dotted;">
                <img id="good0_photo" src="5.jpg" width ="170px" height = "170px" align ="middle"style="cursor: pointer;"onclick=goods_detail(this.name)>
                <div class = "item">
                    名称：
                    <input id="good0_name" class = "input"  type="text" value="默认值" readonly/>
                    <br>
                    单价(元)：
                    <input id="good0_price" class = "input"  size="2" type="text" value="0.0" readonly/>
                    <!-- <br> -->
                    数量（件）：
                    <input id="good0_number" class = "input" size="2" type="text" value="0.0" readonly />
                    <br>
                    总额（元）：
                    <input id="good0_total" class = "input" size="3" type="text" value="0" readonly />
                    <!-- <br> -->
                    是否选中：<input id="0" type="checkbox" onclick=selected(this.id)>
                </div>
            </td>
            <td id="good1"  style="border-style: dotted;">
                <img src="5.jpg" id="good1_photo" width ="170px" height = "170px" align ="middle"style="cursor: pointer;"onclick=goods_detail(this.name)>
                <div class = "item">
                    名称：
                    <input id="good1_name" class = "input"  type="text" value="默认值" readonly/>
                    <br>
                    单价(元)：
                    <input id="good1_price" class = "input"  size="2" type="text" value="0.0" readonly/>
                    <!-- <br> -->
                    数量（件）：
                    <input id="good1_number" class = "input" size="2" type="text" value="0.0" readonly />
                    <br>
                    总额（元）：
                    <input id="good1_total" class = "input" size="3" type="text" value="0" readonly />
                    <!-- <br> -->
                    是否选中：<input id="1" type="checkbox" onclick=selected(this.id)>
                </div>
            </td>
            <td id="good2"  style="border-style: dotted;">
                <img src="5.jpg" id="good2_photo" width ="170px" height = "170px" align ="middle"style="cursor: pointer;"onclick=goods_detail(this.name)>
                <div class = "item">
                    名称：
                    <input id="good2_name" class = "input"  type="text" value="默认值" readonly/>
                    <br>
                    单价(元)：
                    <input id="good2_price" class = "input"  size="2" type="text" value="0.0" readonly/>
                    <!-- <br> -->
                    数量（件）：
                    <input id="good2_number" class = "input" size="2" type="text" value="0.0" readonly />
                    <br>
                    总额（元）：
                    <input id="good2_total" class = "input" size="3" type="text" value="0" readonly />
                    <!-- <br> -->
                    是否选中：<input id="2" type="checkbox" onclick=selected(this.id)>
                </div>
            </td>
            <td id="good3"  style="border-style: dotted;">
                <img src="5.jpg" id="good3_photo" width ="170px" height = "170px" align ="middle"style="cursor: pointer;"onclick=goods_detail(this.name)>
                <div class = "item">
                    名称：
                    <input id="good3_name" class = "input"  type="text" value="默认值" readonly/>
                    <br>
                    单价(元)：
                    <input id="good3_price" class = "input"  size="2" type="text" value="0.0" readonly/>
                    <!-- <br> -->
                    数量（件）：
                    <input id="good3_number" class = "input" size="2" type="text" value="0.0" readonly />
                    <br>
                    总额（元）：
                    <input id="good3_total" class = "input" size="3" type="text" value="0" readonly />
                    <!-- <br> -->
                    是否选中：<input id="3" type="checkbox" onclick=selected(this.id)>
                </div>
            </td>
        </tr>
        <tr>
            <td id="good4"  style="border-style: dotted;">
                <img src="5.jpg"  id="good4_photo"width ="170px" height = "170px" align ="middle"style="cursor: pointer;"onclick=goods_detail(this.name)>
                <div class = "item">
                    名称：
                    <input id="good4_name" class = "input"  type="text" value="默认值" readonly/>
                    <br>
                    单价(元)：
                    <input id="good4_price" class = "input"  size="2" type="text" value="0.0" readonly/>
                    <!-- <br> -->
                    数量（件）：
                    <input id="good4_number" class = "input" size="2" type="text" value="0.0" readonly />
                    <br>
                    总额（元）：
                    <input id="good4_total" class = "input" size="3" type="text" value="0" readonly />
                    <!-- <br> -->
                    是否选中：<input id="4" type="checkbox" onclick=selected(this.id)>
                </div>
            </td>
            <td id="good5"  style="border-style: dotted;">
                <img src="5.jpg" id="good5_photo" width ="170px" height = "170px" align ="middle"style="cursor: pointer;"onclick=goods_detail(this.name)>
                <div class = "item">
                    名称：
                    <input id="good5_name" class = "input"  type="text" value="默认值" readonly/>
                    <br>
                    单价(元)：
                    <input id="good5_price" class = "input"  size="2" type="text" value="0.0" readonly/>
                    <!-- <br> -->
                    数量（件）：
                    <input id="good5_number" class = "input" size="2" type="text" value="0.0" readonly />
                    <br>
                    总额（元）：
                    <input id="good5_total" class = "input" size="3" type="text" value="0" readonly />
                    <!-- <br> -->
                    是否选中：<input id="5" type="checkbox" onclick=selected(this.id)>
                </div>
            </td>
            <td id="good6" style="border-style: dotted;">
                <img id="good6_photo" src="5.jpg" width ="170px" height = "170px" align ="middle"style="cursor: pointer;"onclick=goods_detail(this.name)>
                <div class = "item">
                    名称：
                    <input id="good6_name" class = "input"  type="text" value="默认值" readonly/>
                    <br>
                    单价(元)：
                    <input id="good6_price" class = "input"  size="2" type="text" value="0.0" readonly/>
                    <!-- <br> -->
                    数量（件）：
                    <input id="good6_number" class = "input" size="2" type="text" value="0.0" readonly />
                    <br>
                    总额（元）：
                    <input id="good6_total" class = "input" size="3" type="text" value="0" readonly />
                    <!-- <br> -->
                    是否选中：<input id="6" type="checkbox" onclick=selected(this.id)>
                </div>
            </td>
            <td id="good7" style="border-style: dotted;">
                <img id="good7_photo" src="5.jpg" width ="170px" height = "170px" align ="middle" style="cursor: pointer;"onclick=goods_detail(this.name)>
                <div class = "item">
                    名称：
                    <input id="good7_name" class = "input"  type="text" value="默认值" readonly/>
                    <br>
                    单价(元)：
                    <input id="good7_price" class = "input"  size="2" type="text" value="0.0" readonly/>
                    <!-- <br> -->
                    数量（件）：
                    <input id="good7_number" class = "input" size="2" type="text" value="0.0" readonly />
                    <br>
                    总额（元）：
                    <input id="good7_total" class = "input" size="3" type="text" value="0" readonly />
                    <!-- <br> -->
                    是否选中：<input id="7" type="checkbox" onclick=selected(this.id) >
                </div>
            </td>
        </tr>
    </table>
    <div class="bottom">
        <div class ="help">
            <!-- 用于调格式，留空白 -->
        </div>
        <input class="button" id="last_button" type="button" value="上一页" readonly style="margin-left: 600px; float: left;" onclick=lastPage()> 
        <div class="middle">
            第<input id="current_number"  size=2 type="text" style="font-size: 20px; color:rgb(95, 228, 228); text-align: center; background-color: transparent;border: transparent;"readonly>页
            共<input id="page_number"  size=2 type="text" style="font-size: 20px; color:rgb(95, 228, 228); text-align: center; background-color: transparent;border: transparent;"readonly>页
        </div>
        <input class="button" id="next_button" type="button" value="下一页" style="margin-right: 400px; float: right;" onclick=nextPage() readonly>
    </div>
    <div class="display" id="settlement_display">
        <div class="title">
            结算商品
        </div>
        <div class="table">
            <table id="selected_table"  style="margin: 0px auto; border-spacing: 50px; border-collapse: separate; font-size: 20px;">
            </table>
        </div>
        <div class="button">
            共<input id="selected_total"  size=2 type="text" style="font-size: 20px; color:rgb(95, 228, 228); text-align: center; background-color: transparent;border: transparent;"readonly>元
            <br>
            <input class="button" id="yes" type="button" value="确定" style="border-color: white; margin-left: 300px; float: left;" onclick=settle() readonly>
            <input class="button" id="no" type="button" value="取消" style="border-color: white; margin-left: 100px; float: left;" onclick=noSettle() readonly>
        </div>
    </div>
</div>
<form action="user_information" id="user_form" method="get">
    <input type="text" name="user_inform" value="" style="display: none;">
    <input type="text" name="userID" value="" style="display: none;">
</form>
<form action="detail_information" id="picture_form" method="get">
    <input type="text" name="goods_ID" value="" style="display: none;">
    <input type="text" name="userID" value="" style="display: none;">
</form>
<form action="delete_shopping" id="delete_form" method="POST">
    <input type="text" name="goodsID_list" value="" style="display: none;">
    <input type="text" name="userID" value="" style="display: none;">
</form>
</body>
</html>

<script>
    function returnPage(pageID){
        var form = document.getElementById("user_form");
        form.user_inform.value = pageID;
        var ID = document.getElementById('userID');
        form.userID.value = ID.value;
        form.submit();
    }

    var json = {"goods": [
        {"name": "computer1", "price": "3000", "number": "5", "total_price": "15000", "goods_ID": "1"}, 
        {"name": "computer2", "price": "3000", "number": "5", "total_price": "15000", "goods_ID": "1"}, 
        {"name": "computer3", "price": "3000", "number": "5", "total_price": "15000", "goods_ID": "1"},
        {"name": "computer3", "price": "3000", "number": "5", "total_price": "15000", "goods_ID": "1"},
        {"name": "computer3", "price": "3000", "number": "5", "total_price": "15000", "goods_ID": "1"},
        {"name": "computer3", "price": "3000", "number": "5", "total_price": "15000", "goods_ID": "1"},
        {"name": "computer3", "price": "3000", "number": "5", "total_price": "15000", "goods_ID": "1"},
        {"name": "computer3", "price": "3000", "number": "5", "total_price": "15000", "goods_ID": "1"},
        {"name": "computer3", "price": "3000", "number": "5", "total_price": "15000", "goods_ID": "1"}, 
        {"name": "phone1", "price": "2000", "number": "3", "total_price": "6000", "goods_ID": "2"},
        {"name": "phone1", "price": "2000", "number": "3", "total_price": "6000", "goods_ID": "2"},
        {"name": "phone2", "price": "2000", "number": "3", "total_price": "6000", "goods_ID": "2"}
        ]}
    var goods_list = json["goods"]
    var is_selected = []
    function init(){
        $.ajax({
            url:"trolley",
            data: {},
            type:"get",
            success: function (data) {
                json = typeof data == 'string'?JSON.parse(data):data //判断是否为json还是string
            },
            dataType:"json"
        })

        var goods_number = document.getElementById('goods_number');
        var page_number = document.getElementById('page_number');
        var current_page = document.getElementById('current_number');
        current_page.value = 1;
        goods_list = json.goods;
        goods_number.value = goods_list.length;
        page_number.value = Math.ceil(goods_list.length/8);
        for(var i = 0; i < goods_list.length; ++i) is_selected.push(0);
        for(var i = 0; i < 8; ++i){
            if(i >= goods_list.length) {
                for(; i < 8; ++i){
                    var good = document.getElementById('good'+i);
                    good.style.visibility="hidden";
                }
                break;
            }
            var good_name = document.getElementById('good'+i+'_name');
            var good_price = document.getElementById('good'+i+'_price');
            var good_photo = document.getElementById('good'+i+'_photo');
            var good_number = document.getElementById('good'+i+'_number');
            var good_total = document.getElementById('good'+i+'_total');
            good_name.value = goods_list[i].name;
            good_price.value = goods_list[i].price;
            good_photo.name = goods_list[i].goods_ID;
            good_number.value = goods_list[i].number;
            good_total.value = goods_list[i].total_price;
        }
        var button = document.getElementById('last_button');
        button.style.visibility = "hidden";
        if(page_number.value == 1) {
            var button = document.getElementById('next_button');
            button.style.visibility = "hidden";
        }
    }

    function nextPage(){
        var current_page = document.getElementById('current_number');
        var page_number = document.getElementById('page_number');
        current_page.value = Number(current_page.value)+1;
        for(var i = 0; i < 8; ++i){
            if( (Number(current_page.value)-1)*8 + i >= goods_list.length) {
                for(; i < 8; ++i){
                    var good = document.getElementById('good'+i);
                    good.style.visibility="hidden";
                }
                break;
            }
            var good_name = document.getElementById('good'+i+'_name');
            var good_price = document.getElementById('good'+i+'_price');
            var good_photo = document.getElementById('good'+i+'_photo');
            var good_number = document.getElementById('good'+i+'_number');
            var good_total = document.getElementById('good'+i+'_total');
            var checkbox = document.getElementById(String(i));
            if(is_selected[(Number(current_page.value)-1)*8+i] == 1) checkbox.checked = true;
            else checkbox.checked = false;
            good_name.value = goods_list[(Number(current_page.value)-1)*8+i].name;
            good_price.value = goods_list[(Number(current_page.value)-1)*8+i].price;
            good_photo.name = goods_list[(Number(current_page.value)-1)*8+i].goods_ID;
            good_number.value = goods_list[(Number(current_page.value)-1)*8+i].number;
            good_total.value = goods_list[(Number(current_page.value)-1)*8+i].total_price;
        }
        if(current_page.value == page_number.value){
            var button = document.getElementById('next_button');
            button.style.visibility = "hidden";
        }
        if(current_page.value == 2){
            var button = document.getElementById('last_button');
            button.style.visibility = "visible";
        }
    }

    function lastPage(){
        var current_page = document.getElementById('current_number');
        var page_number = document.getElementById('page_number');
        current_page.value = Number(current_page.value)-1;
        for(var i = 0; i < 8; ++i){
            var good = document.getElementById('good'+i);
            var good_name = document.getElementById('good'+i+'_name');
            var good_price = document.getElementById('good'+i+'_price');
            var good_photo = document.getElementById('good'+i+'_photo');
            var good_number = document.getElementById('good'+i+'_number');
            var good_total = document.getElementById('good'+i+'_total');
            good.style.visibility = "visible";
            var checkbox = document.getElementById(String(i));
            if(is_selected[(Number(current_page.value)-1)*8+i] == 1) checkbox.checked = true;
            else checkbox.checked = false;
            good_name.value = goods_list[(Number(current_page.value)-1)*8+i].name;
            good_price.value = goods_list[(Number(current_page.value)-1)*8+i].price;
            good_photo.name = goods_list[(Number(current_page.value)-1)*8+i].goods_ID;
            good_number.value = goods_list[(Number(current_page.value)-1)*8+i].number;
            good_total.value = goods_list[(Number(current_page.value)-1)*8+i].total_price;
        }
        if(current_page.value == 1){
            var button = document.getElementById('last_button');
            button.style.visibility = "hidden";
        }
        if(current_page.value == Number(page_number.value)-1){
            var button = document.getElementById('next_button');
            button.style.visibility = "visible";
        }
    }

    function selected(id){
        var button = document.getElementById(id);
        var current_page = document.getElementById('current_number');
        if (button.checked == true ){
            is_selected[(Number(current_page.value)-1)*8+Number(id)] = 1
        }
        else {
            is_selected[(Number(current_page.value)-1)*8+Number(id)] = 0
        }
    }

    function goods_detail(id){
        var form = document.getElementById("picture_form");
        var userID = document.getElementById('userID');
        var goodsID = id;
        form.userID.value = userID.value;
        form.goods_ID.value = goodsID;
        form.submit();
    }

    function initSettlement(){
        var selected_total = document.getElementById('selected_total')
        var settlement_display = document.getElementById('settlement_display');
        settlement_display.style.display = "inline";
        var selected_table = document.getElementById('selected_table');
        var selected_list = []
        var result = 0
        for(var i = 0; i < goods_list.length; ++i){
            if(is_selected[i] == 1) {
                selected_list.push(goods_list[i]);
                result += Number(goods_list[i].total_price);
            }
        }
        selected_total.value = result;
        selected_table.innerHTML = `
                <tr>
                    <th>名称</th>
                    <th>价格</th>
                    <th>数量</th>
                    <th>总价</th>
                </tr>
                `;
        for(var i = 0; i < selected_list.length; ++i){
            selected_table.innerHTML += `            
                <tr class="tr">
                    <td>${selected_list[i].name}</td>
                    <td>${selected_list[i].price} </td>
                    <td>${selected_list[i].number} </td>
                    <td>${selected_list[i].total_price}</td>
                </tr>
                    `;
        }

    }

    function noSettle(){
        var settlement_display = document.getElementById('settlement_display');
        settlement_display.style.display = "none";
    }

    function settle(){
        var balance = document.getElementById('balance');
        var userID = document.getElementById('userID')
        var selected_list = []
        var result = 0
        for(var i = 0; i < goods_list.length; ++i){
            if(is_selected[i] == 1) {
                selected_list.push(goods_list[i]);
                result += Number(goods_list[i].total_price);
            }
        }
        if(result > Number(balance.value)) {
            alert("余额不足")
            return 
        }
                $.ajax({
            url:"settlement",
            data: {"goodsID": selected_list, "userID":userID.value},
            type:"POST",
            success: function (data) {
                init();
            },
            dataType:"json"
        })
    }

    function deleteShopping(){
        var form = document.getElementById('delete_form');
        var selected_list = []
        for(var i = 0; i < goods_list.length; ++i){
            if(is_selected[i] == 1) {
                selected_list.push(goods_list[i].goods_ID);
            }
        }
        $.ajax({
            url:"delete_shopping",
            data: {"goodsID": selected_list},
            type:"POST",
            success: function (data) {
                init();
            },
            dataType:"json"
        })
    }

    window.onload = init();
</script>